.title{
    font-size: medium;
}

.add-image{
    width: 70vh;
}

.question{
    /* font-size: 24px; */
    font-size: 2.3vh;
    margin-top: 20px;
    border: 0px;
    resize: none;
    border-radius: 7px;
    box-shadow: 5px 5px 5px lightgrey;
    padding: 10px 10px 0;
    vertical-align: middle;
}

.page-container{
    display: flex;
    flex-direction: column;

    font-family: 'Candara', sans-serif;
}

.page-header{
    display: flex;
    flex-direction: row;
    background-color: beige;
    height: 4vh;
    padding-left: 300px;
}

.page-form{
    display: flex;
    flex-direction: row;

    height: 83vh;
}

.quiz-slider{
    display: flex;
    flex-direction: column;
    background-color:aquamarine;
    overflow-x: hidden;
    overflow-y: scroll;

    gap: 10px;
}

.card-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 15px 15px 15px 22px;
    border-radius: 7px;
}

.card-side-info{
    display: flex;
    flex-direction: column;
    margin-right: 13px;
}



.card-number{
    /* background-color:#0490FF; */
    font-size: 2.1vh;
}

.symbol{
    visibility: hidden; /* for duplicate and remove symbol in the future (when mouse hover)*/
}

.card{
    width: 180px;
    min-height: 120px;

    border-radius: 2px;
    background-color: lightgray;

}

.card:hover{
    border: 3px solid darkorange;
}

.card:visited{
    border: 3px solid blue;
}

.quiz-work-area{
    background-color:aliceblue;

    display: flex;
    flex-direction: column;
    width: 90vw;
    gap: 2.5vh;
}


.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.button{
    background-color:#0490FF;
    color: white;
    border: 2px solid #0490FF;
    border-radius: 8px;
    padding: 7px;
    font-size: 16px;
    cursor: pointer;

}

.choice-grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;

    /* background-color: bisque; */
    justify-content: center;

}

.choice-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px lightgrey;

}

.choice-number{
    background-color:#0490FF;
    /* font-size: 26px; */
    font-size: 2.5vh;
    padding: 20px 10px;
    border-radius: 7px;
}

.choice-text{
    /* font-size: 20px; */
    font-size: 2vh;
    padding: 10px 10px 0;
    vertical-align: middle;
    border: 0px;
    margin-left: 7px;
    resize: none;
}

.add-quiz-slide{
    font-size: 2vh;
    width: 10vw;
    text-align: center;
    padding: 10px;
    margin: 20px;

    background-color: #0490FF;
    color: white;
    border: 2px solid #0490FF;
    border-radius: 5px;
    cursor: pointer;
}