.title{
    font-size: medium;
}

.question{
    /* text-align: center; */
    font-size: 24px;
    margin-top: 20px;
    border: 0px;
    resize: none;
    border-radius: 7px;
    box-shadow: 5px 5px 5px lightgrey;
    /* padding-top: 5px; */
    padding: 10px 10px 0;
    vertical-align: middle;
}

.page-container{
    display: flex;
    flex-direction: column;

    font-family: 'Candara', sans-serif;
}

.page-header{
    display: flex;
    flex-direction: row;
    background-color: beige;
}

.page-form{
    display: flex;
    flex-direction: row;

    height: 83vh;
}

.quiz-slider{
    display: flex;
    flex-direction: column;
    background-color:aquamarine;

    /* height: 800px; */
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px 22px 15px 50px;

    gap: 20px;
    /* border: 2px solid black; */
}

.card{
    /* width: 100px; */
    width: 180px; /* ใช้อันนี้แทน width ปกติ */
    min-height: 120px;

    border-radius: 2px;
    background-color:coral;

    /* margin: 10px 5px; */

}

.quiz-work-area{
    background-color:aliceblue;

    display: flex;
    flex-direction: column;
    /* width:auto; */
    width: 90vw;
    gap: 22px;
}


.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button{
    /* background-color:beige; */
    background-color:#0490FF;
    color: white;
    border: 2px solid #0490FF;
    border-radius: 8px;
    padding: 7px;

    /* margin: 4px auto; */
    /* margin-top: 20px; */
    font-size: 16px;
    cursor: pointer;

}

.choice-grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;

    background-color: bisque;
    justify-content: center;

}

.choice-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px lightgrey;

}

.choice-number{
    /* height: 70px; */

    background-color:#0490FF;
    font-size: 26px;
    padding: 20px 10px;
    border-radius: 7px;
}

.choice-text{
    font-size: 20px;
    padding: 10px 10px 0;
    vertical-align: middle;
    border: 0px;
    margin-left: 7px;
    resize: none;
}

/* .choice{
    width: 500px;
    height: 100px;

    background-color:darkcyan;
    font-size: 26px;
    
} */