.page-container{

    /* choice 1 */
    /* margin: auto auto;
    width: fit-content; */

    /* choice 2 */
    display: flex;
    justify-content: center; 
    align-items: center;

    /* background-color: aqua; */
}

.page-form{
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* margin: 0 auto; */
}

.button{
    /* background-color:beige; */
    background-color:lightsteelblue;
    border: 2px solid black;
    border-radius: 10px;
    padding: 13px;
    margin: 4px auto;

}